<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910822533-6vitiiva875qrm79ggdktsogojnkhsb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910822533-6vitiiva875qrm79ggdktsogojnkhsb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCG4z4jBfu9JadRaWxPjri17d1ha0HlMhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>910822533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unuseful</string>
	<key>PROJECT_ID</key>
	<string>unuseful-project</string>
	<key>STORAGE_BUCKET</key>
	<string>unuseful-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910822533:ios:466e607ce1f4cb26696dec</string>
</dict>
</plist>